<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/comm/base.css" />
<link rel="stylesheet" href="/static/css/home/home.css" />
<link href="/static/css/comm/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/comm/bootstrap-table.css" rel="stylesheet" type="text/css">
<link href="/static/css/comm/base.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/comm/info-mgt.css" rel="stylesheet" type="text/css"/>
<title>Todo-首页</title>
</head>

<body>
<div class="article toolbar">
	<div class="title ue-clear">
    	<h2>常用网址</h2>
    </div>
    <div class="content">
    	<ul class="toollist ue-clear">
            <li>
                <a href="http://www.baidu.com" class="img" target="_blank"><img src="/static/img/main/icon07.png" />
                    <p>百度</p></a>
            </li>
            <li>
                <a href="https://www.travelmonk123.com/cloudnote" class="img" target="_blank"><img src="/static/img/main/icon01.png" />
                    <p>曼妙笔记</p></a>
            </li>
            <li>
                <a href="https://www.travelmonk123.com/blog" class="img" target="_blank"><img src="/static/img/main/icon02.png" />
                    <p>曼妙博客</p></a>
            </li>
            <li>
                <a href="https://studygolang.com/" class="img" target="_blank"><img src="/static/img/main/icon04.png" />
                    <p>GO中文</p></a>
            </li>
            <li>
                <a href="https://github.com/" class="img" target="_blank"><img src="/static/img/main/leave01.png" />
                    <p>github</p></a>
            </li>
            <li>
                <a href="http://10.117.130.78:8081/" class="img" target="_blank"><img src="/static/img/main/posintion01.png" />
                    <p>gitlab</p></a>
            </li>
            <li>
                <a href="https://gitee.com/" class="img" target="_blank"><img src="/static/img/main/file02.png" />
                    <p>码云</p></a>
            </li>
            <li>
                <a href="javascript:;" onclick="openlayer()" class="img" target="right"><img src="/static/img/main/datecion01.png"/></a>
                <p>万年历</p></a>
            </li>
    	</ul>
        
    </div>
</div>
<div class="article half notice">
	<div class="wrap-l">
        <div class="title ue-clear">
            <h2>新闻</h2>
            <a href="javascript:;" onclick="newsLoad()" class="more" target="right">刷新</a>
        </div>
        <div class="content">
        	<ul id="newsUL" class="notice-list">

            </ul>
        </div>
    </div>
</div>
<div class="article half matter">
	<div class="wrap-r">
        <div class="title ue-clear">
            <h2 class="title-list">
                <ul class="ue-clear">
                    <li class="current"><a href="javascript:;">待办任务</a></li>
                    <li><a href="javascript:;">已办任务</a></li>
                </ul>
            </h2>
            <a href="/todo/list" class="more" target="right">更多</a>
        </div>
        <div class="content">
        	<div class="matter-content current ue-clear">
            	<div class="today">
                	<p class="year">{{.Date.Year}}年{{.Date.Month}}月</p>
                    <p class="date">{{.Date.Day}}</p>
                </div>
                <ul class="matter-list">
                {{range $index, $Todo := .Todos}}
                    <li class="ue-clear">
                        <a href="javascript:;" class="matter-title"><font size="3">{{$Todo.TodoTitle}}</font>&nbsp;&nbsp;{{$Todo.TodoContent}}</a>
                    </li>
                {{end}}
                </ul>
            </div>
            <div class="matter-content ue-clear">
            	<div class="today">
                	<p class="year">{{.Date.Year}}年{{.Date.Month}}月</p>
                    <p class="date">{{.Date.Day}}</p>
                </div>
                <ul class="matter-list">
                {{range $index, $UnTodo := .UnTodos}}
                    <li class="ue-clear">
                        <a href="javascript:;" class="matter-title"><font size="3">{{$UnTodo.TodoTitle}}</font>&nbsp;&nbsp;{{$UnTodo.TodoContent}}</a>
                    </li>
                {{end}}
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>
<div class="article half email">
	<div class="wrap-l">
        <div class="title ue-clear">
            <h2>工作日志</h2>
            <a href="/workLog/list" class="more" target="right">更多</a>
        </div>
        <div class="content">
            <table id="workLogTable" class="table_style"></table>
        </div>
    </div>
</div>
<div class="article half email">
	<div class="wrap-r">
        <div class="title ue-clear">
            <h2>项目列表</h2>
            <a href="/project/list" class="more" target="right">更多</a>
        </div>
        <div class="content">
            <table id="projectTable" class="table_style"></table>
        </div>
    </div>
</div>
</body>
<script src="/static/js/comm/jquery.js" type="text/javascript" ></script>
<script src="/static/js/comm/bootstrap.min.js"></script>
<script src="/static/js/comm/bootstrap-table.js"></script>
<script src="/static/js/comm/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/js/comm/layer/layer.js"></script>
<script src="/static/js/home/home.js" type="text/javascript" ></script>
</html>
