
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Leave-请假详情</title>
    <link href="/static/css/comm/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/leave/leave_add.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/comm/jquery.js" type="text/javascript"></script>
</head>

<body style="border-radius: 8px" onload="change()">
<form id="form_leave" >
    <div class="top">
        <div>
            <div class="top_out">
                <table class="table" >
                    <tbody>
                    <tr>
                        <td>
                            <input type="hidden" id="LeaveId" name="LeaveId" value="{{.Leave.LeaveId}}">
                        </td>
                    </tr>
                    <tr>
                        <td>请假事由：<i class="i_start"></i> </td>
                        <td colspan = "9" style="text-align: left">
                            <input type="text" id="LeaveNote" name ="LeaveNote" minlength="2" value="{{.Leave.LeaveNote}}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>开始时间：<i class="i_start"></i></td>
                        <td colspan = "4" style="text-align: left">
                            <input type="hidden" id="LeaveCreateTime" name="LeaveCreateTime" value='{{dateformat .Leave.LeaveCreateTime "2006-01-02"}}' required>
                            <input type="text" id="LeaveStartTime" name="LeaveStartTime" value='{{dateformat .Leave.LeaveStartTime "2006-01-02"}}' required>
                        </td>
                        <td>结束时间：<i class="i_start"></i></td>
                        <td colspan = "4" style="text-align: left">
                            <input type="text" id="LeaveEndTime" name="LeaveEndTime" value='{{dateformat .Leave.LeaveEndTime "2006-01-02"}}' required>
                        </td>
                    </tr>
                    <tr>
                        <td>请假天数：<i class="i_start"></i></td>
                        <td colspan = "4" style="text-align: left">
                            <input type="text" id="LeaveSum" name="LeaveSum" value='{{.Leave.LeaveSum}}' required>
                        </td>
                        <td>请假类型：<i class="i_start"></i></td>
                        <td colspan = "4" style="text-align: left">
                            <input type="hidden" id="leaveType" value="{{.Leave.LeaveType}}">
                            <select id="selectLeaveType" class="form-control" name="LeaveType" required>
                                <option value="-1">请选择请假类型</option>
                            {{range $index, $LeaveType := .LeaveTypes}}
                                <option value="{{$LeaveType}}">{{$LeaveType}}</option>
                            {{end}}
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bot_btn">
            <input type="button" value="保存" class="btn" id="form_leave_add_save">
            <button class="btn btn1"><a href="/leave/list" target="right">返回</a></button>
        </div>
    </div>
</form>
</body>
<script src="/static/js/comm/jquery.js" type="text/javascript"></script>
<script src="/static/js/comm/jquery-validation-1.14.0/jquery.validate.js" charset="utf-8" type="text/javascript"></script>
<script src="/static/js/comm/jquery-validation-1.14.0/localization/messages_zh.js" charset="utf-8" type="text/javascript"></script>
<script src="/static/js/comm/date/laydate.js" type="text/javascript"></script>
<script src="/static/js/leave/leave_add.js" type="text/javascript"></script>
</html>
